# Xcode
# gitignore template for Xcode / Swift programs

# Xcode User Data and State
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Build generated
build/
DerivedData/
*.ipa
*.xcarchive

# Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
Packages/
Package.pins
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# CocoaPods & Carthage
Pods/
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
